<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>World Adventure</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
</head>
<body>
<nav>
  <span style="margin-right:auto; color:white;">
    Logged in as: {{ session['user'] if 'user' in session else 'Guest' }}
  </span>
  {% if session['user'] != 'Guest' %}
    <a href="{{ url_for('logout') }}">Logout</a>
  {% else %}
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('signup') }}">Sign Up</a>
  {% endif %}
  <a href="{{ url_for('admin') }}">Admin</a>
  <a href="{{ url_for('gallery') }}">Gallery</a>
</nav>

<div id="city-screen">
  <h2>Choose your city to start the adventure</h2>


    <label for="city-select">Choose a city:</label><br>
    <input id="city-select" placeholder="Type a city..." autocomplete="off">
    <ul id="suggestions" class="suggestions"></ul>
    <p id="error-msg" style="color:red; display:fles;"></p>


  <button id="start-btn" disabled>Start Adventure</button>
</div>

<div id="app"  style="display:block;">
    <div id="map-container">
        <div id="map"></div>
    </div>
    <div id="sidebar">
        <h3>Nearby Places</h3>
        <div id="places-list"></div>
    </div>
</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='map.js') }}"></script>
</body>
</html>
